@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

html,body,#__next{
    height: 100%;
    background: #F7F7F7;
    font-family: 'Roboto', sans-serif;
}